/* Header */

.header__form {
    height: var(--header-form);
    width: 100%;
    background-image: var(--primary-color);
}

.header__form-content {
    height: var(--header-form);
}

.header__form-list {
    display: flex;
    justify-content: right;
    height: 100%;
    padding-left: 0;
    list-style: none;
    font-size: 1.2rem;
    color: #fff;
}

.header__form-item {
    color: #fff;
    position: relative;
    line-height: var(--header-form);
    margin-right: 6px;
    cursor: pointer;
}

.header__form-item:first-child {
    margin-right: 10px;
}

.header__form-item:first-child::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 16px;
    background-color: #ffffff;
    right: -5px;
    top: 12px;
    opacity: 0.6;
}

.header__fixed {
    width: 100%;
    z-index: 100;
    box-shadow: 0 5px 10px #999;
    background-color: #fff;
}

.header__main {
    display: flex;
    position: relative;
    min-width: 1200px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--header-form) + 40px);
}

.header__main-logo {
    display: flex;
    align-items: center;
    float: left;
    margin: 0 20px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}

.header__main-logo-container {
    width: 80px;
    height: 80px;
    background-image: url('../img/snapedit_1706797613132.png');
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(10px);
}

.header__main-logo-icon {
    width: 100%;
}

.header__main-logo-title {
    font-size: 2rem;
}

.header__main-find {
    height: 100%;
    line-height: 80px;
}

.header__main-find-input {
    width: 336px;
    height: 40px;
    padding: 8px;
    border: 1px solid #7496ea;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 1.4rem;
}

.header__main-find-button {
    padding: 10px;
    height: 40px;
    font-size: 1.4rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    background-color: #7496ea;
    color: #fff;
    border: 1px solid #7496ea;
}

.header__main-find-button:hover,
.register-form_submit:hover,
.login-app_benefit-link:hover,
.login-form_submit:hover {
    opacity: 0.8;
}

.header__cover {
    background-color: #fff;
    height: calc(var(--header-form) + 40px);
    width: 100%;
    display: none;
}

.header__main-cart {
    display: flex;
    align-items: center;
    color: #7496ea;
    font-size: 4rem;
    margin-right: 22px;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 4px;
}

.header__main-cart-total {
    color: #fff;
    font-size: 1.4rem;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #7496ea;
    padding: 4px;
}

/* Home page */
.main {
    width: 100%;
    min-height: 800px;
    padding: 20px 0;
    background-image: url('../img/anhNenTest.jpg');
    background-size: cover;

    background-repeat: repeat;
}

.caterory {
    padding: 10px;
    border-radius: 2px;
}

.caterory-list {
    background-color: #fff;
    list-style: none;
    font-size: 1.4rem;
    padding-left: 0;
    box-shadow: 0 1px 3px #999;
}

.caterory-title {
    position: relative;
    font-size: 1.6rem;
    padding: 20px 10px 20px;
}

.caterory-title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #e4e4e4;
    bottom: 0;
    left: 0;
}

.caterory-item {
    position: relative;
    padding: 10px 0 10px 4px;
}

.caterory-item:hover {
    color: #7496ea;
    background-color: #f2f2f2;
    cursor: pointer;
}

.caterory-item::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #edecec;
    bottom: 0;
    left: 0;
}

.caterory-item-icon {
    margin-right: 10px;
    float: right;
}


.product {
    padding: 10px 0;
}

.advertisement {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 2px;
}

.advertisement-title {
    font-size: 2rem;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.product-list,
.product-same_list {
    list-style: none;
    padding-left: 0;
    display: flex;
}

.product-item {
    background-color: #fff;
    width: 100%;
    height: 280px;
    border: 1px solid #f8f8f8;
    box-shadow: 0 1px 3px #999;
    color: #2c2b2b;
}

.product-item:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: translateY(-8px);
}

.product-item_img {
    width: 100%;
    height: 160px;
}

.product-item_information {
    padding: 10px;
}

.product-item_name {
    display: -webkit-box;
    text-transform: uppercase;
    color: blue;
    font-size: 1.4rem;
    height: 32px;
    line-height: 17px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-item_description {
    display: -webkit-box;
    font-size: 1.4rem;
    height: 20px;
    line-height: 16px;
    color: #999;
    margin: 4px 0;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 0;
    border-top: 1px solid #ccc;
    padding: 4px 0;
}

.product-item_price {
    color: red;
    font-size: 1.6rem;
    font-weight: 600;
    margin: 14px 0 0;
}

/* Register */
.Register {
    width: 100%;
    height: 800px;
    background-image: url('../img/anhNenTest.jpg');
    background-size: cover;

    background-repeat: no-repeat;
}

.register-infor {
    height: 260px;
    margin: 40px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px #999;
    z-index: 1;
    transform: translateX(4px);
}

.register-infor_title,
.register-app_title {
    font-size: 2rem;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.register-infor_phone {
    width: 200px;
    height: 40px;
    padding: 8px;
    border: 1px solid #7496ea;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 1.4rem;
    margin: 20px 20px 0 0;
}

.register-infor_name {
    width: 368px;
    height: 40px;
    padding: 8px;
    border: 1px solid #7496ea;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 1.4rem;
}

.register-infor_address {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #7496ea;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 1.4rem;
    margin: 20px 20px 20px 0;
}

.register-infor_yob,
.register-infor_gender {
    padding: 10px 0;
    border: 1px solid #7496ea;
    font-size: 1.4rem;
    text-align: center;
}

.register-infor_gender {
    margin-left: 20px;
}

.register-app {
    height: 260px;
    margin: 40px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px #999;
    transform: translateX(-4px);
}



.register-app_passwd {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #7496ea;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 1.4rem;
    margin: 20px 0;
}

.register-app_repasswd {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #7496ea;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 1.4rem;
    margin-bottom: 20px;
}



.register-form_submit {
    padding: 10px;
    height: 40px;
    font-size: 1.4rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    background-color: #7496ea;
    color: #fff;
    border: 1px solid #7496ea;
    margin: 0 auto;
    box-shadow: 0 5px 10px #999;
    float: right;
}

.register-form_submit:hover {
    -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* Login */
.Login {
    width: 100%;
    height: 800px;
    background-image: url('../img/anhNenTest.jpg');
    background-size: cover;

    background-repeat: no-repeat;
}



.login-infor {
    height: 360px;
    margin: 40px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px #999;
    z-index: 1;
}

.login-infor_title,
.login-app_title {
    font-size: 2rem;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.login-infor_phoneLabel,
.login-infor_passwdLabel {
    font-size: 1.6rem;
    margin: 20px 0 10px;
}

#login-infor_phone,
#login-infor_passwd {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #7496ea;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.login-app {
    height: 300px;
    margin: 40px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 5px 10px #999;
}

.login-app_benefit-title {
    font-size: 1.6rem;
    margin: 20px 0;
}

.login-app_benefit-item {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.login-app_benefit-link {
    position: absolute;
    width: 120px;
    height: 40px;
    text-align: center;
    font-size: 1.6rem;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    background-color: #7496ea;
    color: #fff;
    border: 1px solid #7496ea;
    margin: 10px 0;
    box-shadow: 0 5px 10px #999;
    margin-top: 10px;
}

.submit-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-form_submit {
    width: 120px;
    height: 40px;
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 2px;
    cursor: pointer;
    background-color: #7496ea;
    color: #fff;
    border: 1px solid #7496ea;
    box-shadow: 0 5px 10px #999;
    margin: 10px 0;
}

.login-form_notify {
    font-size: 1.6rem;
    color: red;
    font-weight: 600;
}

/* User */
.user {
    width: 100%;
    min-height: 800px;
    padding: 20px 0;
    background-image: url('../img/anhNenTest.jpg');
    background-size: cover;

    background-repeat: no-repeat;
}

.user-caterogy {
    height: 200px;
    background-color: #fff;
    border-radius: 2px;
}

.user-caterogy_title {
    font-size: 2rem;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.user-caterogy_list {
    list-style: none;
}

.user-caterogy_item {
    font-size: 1.6rem;
    margin-top: 10px;
}

.user-caterogy_item:hover {
    cursor: pointer;
}

.user-caterogy_item-link {
    width: 100%;
    color: #000;
}

.user-caterogy_item-link:hover {
    color: #7496ea;
}

.user-detail {
    min-height: 350px;
    border-radius: 2px;
    box-shadow: 0 5px 10px #999;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
}

.user-detail_title {
    font-size: 2rem;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}



.user-detail_label-item {
    font-size: 1.6rem;
    margin-top: 20px;
    text-align: end;
}



.user-detail_info-item {
    font-size: 1.6rem;
    margin-top: 20px;
}

/* History */
.History {
    width: 100%;
    min-height: 800px;
    padding: 20px 0;
    background-image: url('../img/anhNenTest.jpg');
    background-size: cover;

    background-repeat: no-repeat;
}

/* Cart */
.Cart {
    width: 100%;
    height: 800px;
    padding: 20px 0;
    background-image: url('../img/anhNenTest.jpg');
    background-size: cover;

    background-repeat: no-repeat;
}

.cart-container {
    position: relative;
    min-height: 140px;
    background-color: #fdfdfd;
    border-radius: 2px;
    box-shadow: 0 4px 4px #999;
}

.cart-title {
    font-size: 4rem;
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.cart_product {
    padding: 10px 0;
}

.cart_product-list {
    padding-left: 0;
    list-style: none;
}

.cart_product-item {
    margin: 0 0 30px;
    padding-top: 10px;
    border-top: 1px solid #999;
}

.cart_product-img-container {
    display: flex;
    justify-content: center;
    border-right: 1px solid #ccc;
}

.cart_product-img {
    width: 140px;
    height: 100px;
    background-image: url('../img/anhNenTest.jpg');
    background-size: cover;

    background-repeat: no-repeat;
    box-shadow: 0 4px 4px #999;
}

.cart_product-information-title {
    font-size: 2rem;
    font-weight: 600;
}

.cart_product-information-desciption {
    font-size: 1.4rem;
    color: #999;
    margin: 10px 0;
}

.cart_product-information-producer {
    font-size: 1.4rem;
}

.cart_product-information-price {
    font-size: 2rem;
    color: red;
    margin-top: 20px;
    text-align: end;
}

.cart_product-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ccc;
}

.cart_product-quantity-decrease,
.cart_product-quantity-increase {
    width: 50px;
    height: 40px;
    color: #fff;
    font-size: 2rem;
    background-color: #7496ea;
    border: none;
    border-radius: 2px;
    box-shadow: 0 4px 4px #999;
}

.cart_product-quantity-decrease:hover,
.cart_product-quantity-increase:hover {
    opacity: 0.9;
    cursor: pointer;
}

.cart_product-quantity-current {
    width: 80px;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid #7496ea;
    box-shadow: 0 4px 4px #999;
    text-align: center;
}

.cart_product-quantity-increase {
    margin-right: 12px;
}

.cart_product-total {
    display: flex;
    justify-content: end;
    width: 100%;
    font-size: 2.2rem;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.cart_product-total-price {
    margin-left: 10px;
}

.product-feedback {
    background-color: #fff;
    margin-top: 20px;
}

.product-feedback_list {
    padding: 20px 40px;
    list-style: none;
    overflow-wrap: anywhere;
}

.product-feedback_item {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.product-feedback_avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
    padding: 16px;
}

.product-feedback_item-user {
    font-size: 1.4rem;
    padding: 0 0 4px;
}

.product-feedback_item-star {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 4px;
}

.product-feedback_item-comment {
    font-size: 1.6rem;
}

/* Footer */
.Footer {
    position: relative;
    width: 100%;
    background-image: var(--primary-color);
    bottom: 0;
}

.footer_main-list {
    text-align: left;
    list-style: none;
    padding-left: 0;
}

.footer_main-title {
    margin: 20px 0;
}

.footer_main-item {
    margin-bottom: 10px;
    cursor: pointer;
}

.footer_main-item:hover {
    color: #7496ea;
}

.product-div {
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}

.product-div-left {
    padding: 20px;
}

.product-div-right {
    padding: 20px;
}

.img-container {
    text-align: center;
    height: 280px;
}

.img-container img {
    width: 280px;

}

.hover-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.hover-container div {
    border: 2px solid rgba(252, 160, 175, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hover-container div:hover {
    border-color: rgb(255, 145, 163);
}

.hover-container div img {
    width: 50px;
    cursor: pointer;
}

.product-div-right span {
    display: block;
}

.product-name {
    font-size: 2.4rem;
    margin-bottom: 22px;
    font-weight: 700;
    line-height: 30px;
    opacity: 0.9;
}

.product-price {
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}

.product-rating {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.product-rating span {
    margin-right: 6px;
}

.product-description {
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}

.btn-groups {
    margin-top: 22px;
}

.btn-groups button {
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-groups button .fas {
    margin-right: 8px;
}

.add-cart-btn {
    background-color: #2b6de5;
    border: 2px solid #2b6de5;
    margin-right: 8px;
}

.add-cart-btn:hover {
    background-color: #fff;
    color: #2b6de5;
}

.buy-now-btn {
    background-color: #000;
    border: 2px solid #000;
}

.buy-now-btn:hover {
    background-color: #fff;
    color: #000;
}

.product-same {
    background-color: #fff;
    border-radius: 2px;
}

.product-same_title {
    text-align: center;
    font-size: 3rem;
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}

.product-same_item_name {
    display: -webkit-box;
    color: blue;
    font-size: 1.6rem;
    height: 36px;
    line-height: 20px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-same_item_description {
    display: -webkit-box;
    font-size: 1.4rem;
    height: 20px;
    line-height: 14px;
    color: #999;
    margin: 4px 0;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 4px 0;
    border-top: 1px solid #ccc;
    padding: 4px 0;
}

.invaluate-container {
    border: 1px solid #999;
    margin: 20px 0;
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 50px;
}

.invaluate-title {
    font-size: 2.4rem;
    text-align: center;
    margin-bottom: 20px;
}

.invaluate-star {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.invaluate-content {
    width: 100%;
    height: 50px;
    font-size: 1.6rem;
    border: 1px solid #7496ea;
    border-radius: 2px;
    margin-bottom: 10px;
}

.invaluate-content:focus {
    outline: none;
}

.btn-container {
    display: flex;
    font-size: 1.8rem;
    font-weight: 600;
    color: green;
    justify-content: space-between;
    align-items: center;
}

.invaluate-btn {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: #7496ea;
    border: none;
    color: #fff;
    box-shadow: 0 4px 4px #999;
    transition: all ease 0.2s;
}

.invaluate-btn:hover {
    background-color: #fff;
    color: #7496ea;
    cursor: pointer;
    border: 1px solid #7496ea;
}

.invaluate-icon1,
.invaluate-icon2,
.invaluate-icon3,
.invaluate-icon4,
.invaluate-icon5 {
    cursor: pointer;
}

@media screen and (max-width: 992px) {
    .product-div {
        grid-template-columns: 100%;
    }

    .product-div-right {
        text-align: center;
    }

    .product-rating {
        justify-content: center;
    }

    .product-description {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px) {
    .btn-groups button {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Style cho modal */
.login-modal {
    /* Ẩn modal ban đầu */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Style cho nội dung của modal */
.login-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Style cho nút "OK" */
.login-ok-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}

.login-ok-button:hover {
    background-color: #45a049;
}

.active {
    color: red;
    /* Một màu sắc khác được áp dụng cho liên kết kích hoạt */
}

.order-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 30px;
    /* border-radius: 5px; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 20px 0px;
    width: 100%;
    height: 60px;
}

.order-button:hover {
    background-color: #0056b3;
    /* Màu nền của nút khi di chuột qua */
}