.title {
    font-size: 35px;
    padding: 20px;
    text-align: center;
    background: white;
    margin: 20px auto;
    width: 475px;
    text-transform: uppercase;
    border-radius: 10px;
}

.sidebar-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
}

.sidebar-nav a {
    line-height: 20px;
    font-size: 18px;
    border-radius: 25px;
    width: 23.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    border: #4a4949 8px solid;
}

.sidebar-nav a:hover {
    cursor: pointer;
    background-color: rgb(81, 132, 240);
}

.sidebar-nav a img {
    width: 100px;
}

.sidebar-nav a:hover img {
    transform: scale(1.2);
}

.sidebar-nav a:hover p {
    color: white;
    font-weight: 600;
}


.sidebar-nav a p {
    color: black;
    display: block;
    text-align: center;
    padding: 10px 5px;
    width: 100%;
}